---
layout: page
---

<nav class="main-nav clearfix">
    {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
            <img src="{{ page.logo }}" alt="Blog Logo" />
        </a>
    {% endif %}
    {% include subscribe-home-bar.html %}
</nav>


<main class="content" role="main">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header>

        <h1 class="post-title">{{ page.title }}</h1>
      -->

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
